a {
    color: #041c34;
}

.TeamInfo {
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

h2 {
    text-align: center;
    padding: 3%;
    border: 5%;
    color: aliceblue;
    background-color: #041c34;
}

.Disclaimer {
    color: red;
}

.About {
    /*future usage*/
}

.memberInfo {
    padding: 0.5%;
    border: solid;
    border-width: 1px;

    background-color: rgb(248,249,250);
    margin-top: 1%;
    margin-bottom: 1%;
}

.nameLeft {
    margin-left: 1%;
}

.nameRight{
    margin-right: 1%;
}

.contentLeft {
    margin-right: 45%;

    border-left-width: 0;
    position: relative;
    text-align: center;
}

.contentRight {
    margin-left: 45%;

    border-right-width: 0;
    position: relative;
    text-align: center;
}