.centered {
    text-align: center;
  }

.title1 {
    margin: 50px;
}

.inputtitle {
  font-size: large;
}

.stockName {
  font-size: 50px;
}

.stockInfo {
  font-size: 30px;
}

.heads {
  margin-left: 50px;
}

.butt {
  margin: 15px;
}